@using Store.WebUI.Models;
@model FilteredListViewModel


<div class="col-xs-12">
    <br />
    <h4>Найдено товаров <span id="total">(@Model.PagingInfo.TotalItems)</span> на (@Model.PagingInfo.TotalPages) страницах.</h4>
</div>

<div class="col-xs-12 pagin-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("LoadSummary", new { category = Model.CurrentCategory, page = x, PageSize = 3 }))
</div>

    <div class="row">
        @foreach (var p in @Model.Items)
        {
            <div class="col-sm-4 col-md-3 col-xs-12 block" data-itemid="@p.Id">
            </div>
        }
    </div>

@section Menu{
    <!--<div id="categories" class="col-xs-3 hidden-xs">
        @Html.Action("Menu", "Nav")
    </div>-->
}

<div class="col-xs-12 pagin-center">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("LoadSummary", new {category = Model.CurrentCategory, page = x, PageSize = 3 }))
</div>


<script type="text/javascript">
    $(".block").each(function (i, v) {
            $.ajax({
                url: '@Url.Action("ItemSummary")' + '?id=' + $(v).attr('data-itemid'),
                beforesend: function() {
                    $(v).html("<img src='@Url.Content("~/Content/Styles/Img/load.gif")'/>");
                },
                success: function (data) {
                    $(v).html(data);
                    $(v).find(".item-sum-block").fadeIn(700);
                },
                failure: function (response) {

                }
            });
        });
</script>
