@using Store.WebUI.Models;
@using Store.WebUI.HtmlHelpers;
@model IndexViewModel

@{
    ViewBag.Title = "КИТ ремонта - товары для дома и ремонта.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section HScripts {
    <script type="text/javascript">
    </script>
}

    <div class="container-carousel" style="margin-top:20px;">
        @Html.Partial("_carousel")
    </div>


    <div class="tabbable">
        <!-- Only required for left/right tabs -->
        <ul class="nav nav-justified nav-tabs">
            <li class="active"><a href="#tab2" data-toggle="tab">Новые</a></li>
            <li><a href="#tab1" data-toggle="tab">Распродажа</a></li>
        </ul>
        <div class="tab-content">

            <div class="tab-pane active fade in" id="tab2">
                <div class="divline"><h2>Последние поступления</h2></div>
                @if (@Model.LastItems.Count() > 0)
            {
                    <div class="container-fluid">

                        <div class="row">
                            @foreach (var p in @Model.LastItems)
                            {
                                    <div class="col-lg-2 col-sm-4 col-md-3 col-xs-12 block" data-itemid="@p.Id">

                                    </div>
                            }
                        </div>
                    </div>
            }
            else {
                    <div class="container-fluid">
                        <br />
                        <br />
                        <br />
                        <br />
                        <p>В данный момент нету таких товаров</p>
                    </div>
            }
            </div>
            <div class="tab-pane fade" id="tab1">
                <div class="divline"><h2>Распродажа</h2></div>
                @if (@Model.DiscountItems.Count() > 0)
            {
                    <div class="container-fluid">
                        <div class="row">
                            @foreach (var p in @Model.DiscountItems)
                        {
                                <div class="col-lg-2 col-sm-4 col-md-3 col-xs-12 block">

                                </div>
                        }
                        </div>
                    </div>
            }
            else {
                    <div class="container-fluid">
                        <br />
                        <br />
                        <br />
                        <br />
                        <p>В данный момент нету таких товаров</p>
                    </div>
            }
            </div>
        </div>
    </div>

    <div class="categories hidden-xs hidden-sm">
        @Html.MvcSiteMap().SiteMap()
    </div>

    <div class="divline"><h2>Почему у нас?</h2></div>
    <div class="container-fluid">
        <div class="row whyus">
            <div class="col-xs-12 col-sm-4">
                <div class="circle container">
                    <p class="fa fa-thumbs-up fa-lg fa-4x"></p>
                </div>
                <p class="circle-p">Качество проверенное временем</p>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="circle container">
                    <p class="fa fa-money fa-lg fa-4x"></p>
                </div>
                <p class="circle-p">Очень привлекательные цены</p>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="circle container">
                    <p class="fa fa-list-alt fa-lg fa-4x"></p>
                </div>
                <p class="circle-p">Множество супер предложений</p>
            </div>
        </div>
    </div>

<script type="text/javascript">
        $(".block").each(function (i, v) {
            $.ajax({
                url: '@Url.Action("ItemSummary")' + '?id=' + $(v).attr('data-itemid'),
                beforesend: function() {
                    $(v).html("<img src="+'@Url.Content("~/Content/Styles/Img/load.gif")'+"/>");
                },
                success: function (data) {
                    $(v).html(data);
                    $(v).find(".item-sum-block").fadeIn(700);
                    //$(v).find(".item-sum-block").toggle(700);
                },
                failure: function (response) {

                }
            });
        });
</script>