<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/Styles/ErrorStyles.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/Styles/Styles1.css" rel="stylesheet" />
    <link href="~/Content/Styles/ionicons.min.css" rel="stylesheet" />
    <link href="~/Content/Styles/style.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Scripts/jquery-2.2.0.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript" src="~/Scripts/megamenu.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <title>@ViewBag.Title</title>

</head>
<body>
    <div class="topline">
        Вы можете заказать товары прямо по телефону, звоните!
        <i class="fa fa-phone"></i>
        +7 (911) 815-12-19 &nbsp;&nbsp;
    </div>

    <nav class="navbar" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle auth" data-toggle="collapse" data-target="#navbar-collapse-auth">
                    <span class="sr-only">Вход/Регистрация</span>
                    <span class="fa fa-user fa-lg menubutton"></span>
                </button>
                <button type="button" class="navbar-toggle search" data-toggle="collapse" data-target="#navbar-collapse-search">
                    <span class="sr-only">Поиск</span>
                    <span class="fa fa-search fa-lg menubutton"></span>
                </button>
                <a href="@Url.Action("Index","Item")"><i class="fa fa-home fa-lg fa-2x navbar-brand">КИТ ремонта</i></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse-search">
                @using (Html.BeginForm("Search", "Item", FormMethod.Post, new { @class = "navbar-form navbar-left" }))
                {
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Введите текст поиска" name="search">
                    </div>
                    <input type="submit" class="btn btn-default" value="Поиск">
                }
                <div class="hidden-xs">
                    @Html.Action("Login", "Nav")
                </div>
            </div>
            <div class="collapse navbar-right" id="navbar-collapse-auth">
                @Html.Action("Login", "Nav")
            </div>
        </div><!-- /.container-fluid -->
    </nav>

    <div class="container InfoContainer">
        <div class="row InfoLine">
            <div class="col-xs-12">
                <a href="@Url.Action("Index","Item")">
                    <div class="logo">
                        <img src="@Url.Content("/Content/Styles/Img/logo.png")" />

                    </div>
                </a>
        </div>
    </div>
    </div>

    <div class="container-fluid menu">
        <div class="menu-container">
            <div class="menu">
                @Html.MvcSiteMap().Menu()
            </div>
        </div>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
