@using System.Web.Optimization
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/Styles/font")
    @Styles.Render("~/Content/Styles/custom")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/Scripts/jquery")
    @Scripts.Render("~/Scripts/custom")
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <title>@ViewBag.Title</title>

</head>
<body>
    <div class="topline">
        Вы можете заказать товары прямо по телефону, звоните!
        <i class="fa fa-phone"></i>
        8 (812) 981-97-00 &nbsp;&nbsp;
    </div>

    <div class="container content">
        <nav class="navbar" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle auth" data-toggle="collapse" data-target="#navbar-collapse-auth">
                        <span class="sr-only">Вход/Регистрация</span>
                        <span class="fa fa-user fa-lg menubutton"></span>
                    </button>
                    <button type="button" class="navbar-toggle search" data-toggle="collapse" data-target="#navbar-collapse-search">
                        <span class="sr-only">Поиск</span>
                        <span class="fa fa-search fa-lg menubutton"></span>
                    </button>
                    <a href="@Url.Action("Index","Item")"><i class="fa fa-home fa-lg fa-2x navbar-brand">КИТ ремонта</i></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-collapse-search">
                    @using (Html.BeginForm("Search", "Item", FormMethod.Post, new { @class = "navbar-form navbar-left" }))
                    {
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Введите текст поиска" name="search">
                        </div>
                        <input type="submit" class="btn btn-default" value="Поиск">
                    }
                    <div class="hidden-xs">
                        @Html.Action("Login", "Nav")
                    </div>
                </div>
                <div class="collapse navbar-right" id="navbar-collapse-auth">
                    @Html.Action("Login", "Nav")
                </div>
            </div><!-- /.container-fluid -->
        </nav>

        <div class="container InfoContainer">
            <div class="row InfoLine">
                <div class="col-xs-12">
                    <a href="@Url.Action("Index","Item")">
                        <div class="logo">
                            <img src="@Url.Content("/Content/Styles/Img/logo.png")" />

                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="menu">
            <div class="menu-container">
                <div class="menu">
                    @Html.MvcSiteMap().Menu()
                </div>
            </div>
        </div>

    </div>
        <div class="container content">
            @RenderBody()
        </div>
</body>
</html>
