<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/Styles/ErrorStyles.css" rel="stylesheet" />
    <link href="~/Content/Styles/Styles1.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.2.0.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/common.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js" type="text/javascript"></script>
    <script src="~/signalr/hubs" type="text/javascript"></script>
    <title>@ViewBag.Title</title>
    @RenderSection("HScripts", false)
</head>
<body class="admin-body">
    <div>
    @if (User.IsInRole("Admin"))
    {
        
    }
    
        @if (TempData["message"] != null)
        {
            <div class="alert alert-success">
                @TempData["message"]
            </div>
        }
        
            <div class="admin panel panel-info">
                    <div class="panel-heading" style="padding:20px;">Здравствуй, @User.Identity.Name</div>
             </div>
                
                <!--Админ меню-->
                <div class="col-sm-3">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h2>Меню</h2>
                        </div>
                        <div class="list-group">
                            <a href="@Url.Action("Items","Admin")" class="list-group-item">Список товаров</a>
                            <a href="@Url.Action("Categories","Admin")" class="list-group-item">Список категорий</a>
                            <a href="@Url.Action("Orders","Admin")" class="list-group-item">Список заказов</a>
                            <a href="@Url.Action("Index","Admin")" class="list-group-item">Панель администратора</a>
                            <a href="@Url.Action("Index","Item")" class="list-group-item">На сайт</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-9">
                    @RenderBody()
                </div>

            </div>
    <div class="AdminNotification text-center" id="notification" style="visibility:hidden"></div>
    @RenderSection("BScripts", false)
    <script type="text/javascript">
    $(function () {

        var NotifySound = document.createElement('audio');
        NotifySound.setAttribute('src', '@Url.Content("~/Content/Sound/notify.mp3")');

            var hub = $.connection.notifyHub;

            hub.client.notify = function (message) {
                var div = $("#notification");
                div.html("<div>" + message + "</div>");
                div.attr("style", "");
                div.on('click', function () {
                    div.hide();
                    location.reload();
                });
                NotifySound.play();
            };

            $.connection.hub.start().done(function () {
                hub.server.registerAdmin();
            });
        });
    </script>

</body>
</html>
